html, body {
	height: 100%;
	margin: 0;
}

#container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	left: 0;
	right: 0;
}

.USmap {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	border: 2px solid red;
	z-index:1;
	-webkit-filter: blur(10px);
  	-moz-filter: blur(10px);
  	-o-filter: blur(10px);
  	-ms-filter: blur(10px);
  	filter: blur(10px);
}

.cityMap {
	position: absolute;
	right: 0;
	width: 80%;
	height: 100%;
	border: 1px solid grey;
	z-index:2;
}

.cityMapOptions {
	position: absolute;
	left: 0;
	width: 20%;
	height: 100%;
}

.dropdown {
	z-index:3;
	text-align: center;
}

.options {
	width: 75%;
	height: 40px;
	line-height: 40px;
	background-color: rgb(191,191,191);
	/*vertical-align: middle;*/
	font-size: 1.5em;
	text-align: left;
	margin: 0 auto;
	border-radius: 5px;
}

.options img {
	margin-right: 10px;
	float: right;
}

#restaurants {
	margin-top: 20px;
}

#attractions {
	margin-top: 5px;
}

.attractionsToggle {
	margin-top: 115px;
}

ul.dropdown-menu {
	margin-left: 34px;
	width: 75%;
	/*margin: 0 auto;*/
}
ul.dropdown-menu li {
	font-size: 1.3em;
}