doctype html

html
  head
    title Dangling Traveler - Design Your Trip!
    link(rel='stylesheet', type='text/css', href='css/styles.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false')
    script(type='text/javascript', src='js/jquery.geocomplete.js') 
    script(type='text/javascript', src='js/script.js') 
    meta(charset='UTF-8')
    
    #background
      img.stretch(src='img/Urban_Background.jpg', alt='')
    body
      .container
        form#travelform(action='USMap', method='POST')
          .row
            input#DestinationCity.input.input-sm(type='text', name = 'destination' placeholder='Destination City', style='width:300px', value='')
            input#DestinationCity.btn.btn-default.addButton(type='button', onclick='add_cities();', value='+')
            input#goButton.btn-circle(type='submit', value="GO!")
          #wrapper.content  
          #addCities
            
      script.
        
        var maxCities = 3;
        var currentCities = 1;

        function add_cities() {
          if (currentCities < maxCities) {
            var nextIDNo = currentCities+1;
            var currentID = 'my'+nextIDNo+'Div';
            var formID = 'form'+currentID;
            console.log(currentID);
            document.getElementById('wrapper').innerHTML += '<div id=currentID><input type="text" name="destination" placeholder="Destination City" class="input input-sm" style="width:300px"><input id="DestinationCity" type="button" onclick="remove_cities()" value="-" class="btn btn-default removeButton"></div>';
            $("input").geocomplete({
              componentRestrictions: {country: 'us'}
            })
            currentCities++;
          }          
        }
        function remove_cities() {
          var currentID = 'my'+currentCities+'Div';
          var el = document.getElementById('currentID');
          el.parentNode.removeChild(el);
          currentCities--;
        }
        var destinationCity = $('#DestinationCity').val();

        $("input").geocomplete({
        componentRestrictions: {country: 'us'}
        })
        
