doctype html

html
  head
    title Dangling Traveler - Design Your Trip!
    link(rel='stylesheet', type='text/css', href='css/styles.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false')
    script(type='text/javascript', src='js/jquery.geocomplete.js') 
    script(type='text/javascript', src='js/script.js') 
    meta(charset='UTF-8')
    
    #background
<<<<<<< Updated upstream
      img.stretch(src='img/Urban_Background.jpg', alt='')
    body
      .container
        form#travelform(action='USMap', method='POST')
          .row
            input#DestinationCity.input.input-sm(type='text', name = 'destination' placeholder='Destination City', style='width:300px', value='')
            input#DestinationCity.btn.btn-default.addButton(type='button', onclick='add_cities();', value='+')
            input#goButton.btn-circle(type='submit', value="GO!")
          #wrapper.content  
          #addCities
            
      script.
        $("input").geocomplete({
        componentRestrictions: {country: 'us'}
        })
        var maxCities = 3;
        var currentCities = 1;
        function add_cities() {
          if (currentCities < 3) {
            document.getElementById('wrapper').innerHTML += '<p class="small"><input type="text" name="destination" placeholder="Destination City" class="input input-sm" style="width:300px"><input id="DestinationCity" type="button" onclick="remove_cities();" value="-" class="btn btn-default removeButton"></p>';
          }          
        }
        var destinationCity = $('#DestinationCity').val();
=======
      img.stretch(src='img/roadtrip.jpg', alt='')

    body
      .container
        form#travelform(action='USMap', method='Post')
          table#DestinationCities
            tbody
              tr.city
                td.row
                  input#destination.input.input-sm(type='text', name='destination', placeholder='Destination City')
          button#addCities.btn.btn-primary Add More Destination
          input#goButton.btn.btn-primary(type='submit', onclick='showText()', value="Let's go!")

      script.
        
        $("#addCities").click(function() {
          $('#DestinationCities tbody>tr:last').clone(true).insertAfter('#DestinationCities tbody>tr:last');
          $('#DestinationCities tbody>tr:last #city').val('');
            return false;
          });
           
        var destinationCity = $('#DestinationCities').val();
        
>>>>>>> Stashed changes
