doctype html
// change to Jade?
html
  head
    title Dangling Traveler - Design Your Trip!
    link(rel='stylesheet', type='text/css', href='css/styles.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.0.min.js ')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    meta(charset='UTF-8')
  #background
    img.stretch(src='img/roadtrip.jpg', alt='')
  body
    .container
      form#travelform(action='USMap', method='POST')
        .row
          input#from.input.input-sm(placeholder='From', type='text', style='width:150px', value='')
          input#to.input.input-sm(type='text', name = 'destination' placeholder='To', style='width:150px', value='')
          input#date.input.input-sm(type='date', value='Date', style='width:150px')
          input#goButton.btn.btn-primary(type='submit', onclick='showText()', value="Let's go!")
    script.
      function showText() {
      var rawData = "Input data: " + document.getElementById("from").value
      + document.getElementById("to").value + document.getElementById("date").value;
      alert(rawData);
      }
