doctype html(lang='en')
html
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='http://localhost:8080/css/styles.css')
    link(rel='stylesheet', type='text/css', href='http://localhost:8080/css/magnific-popup.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.0.min.js ')
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false')
    script(type='text/javascript', src='http://localhost:8080/js/jquery.geocomplete.js') 
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    script(type='text/javascript', src='http://localhost:8080/js/mapmarker.jquery.js')
    script.
      var destination = JSON.parse('!{destination}');
    script(type='text/javascript', src='http://localhost:8080/js/script.js')
    script(type='text/javascript', src='http://localhost:8080/js/jquery.magnific-popup.min.js')
    title The Dangling Traveler
  body
    #container
      #buttons
        button.btn.btn-primary.ChangeSearch(type='submit', href='#') Change Search
        button.btn.btn-primary.USMapPageButtons(type='submit') Print Route Summary
      .USmap
      #popup
        #popup_background
          img(src='http://localhost:8080/img/road-trip-ideas.jpg', alt='')
        form#popup_travelform(action='http://localhost:8080/USMap', method='POST')
          .row
            input#DestinationCity.input.input-sm(type='text', name = 'destination', placeholder='Destination City', style='width:150px', value='')
            input#goButton.btn.btn-primary(type='submit', value="Let's go!")
          input#moreCities.btn.btn-primary(type='button', onclick='add_cities();', value='Add More Cities')
          #addCities
            #wrapper.content
        button#hideChangeSearch.btn.btn-primary Back
    script.
      $("input").geocomplete({
      componentRestrictions: {country: 'us'}
      })
      function add_cities() {
        document.getElementById('wrapper').innerHTML += '<span>Next Destination: <input type="text"><small></small></span>\r\n';
      }

