#travelform {
  text-align: center;
  margin-top: 25%;
  
}

/*input {
	display: inline-block;
	float: left;
	margin-top: 250px;
	margin-right: 15px;
}*/

/*form {
  display: inline-block;
  text-align: center;
}*/


#background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1; /* Ensure div tag stays behind content */
}

.stretch {
  width: 100%;
  height: 100%;

}
